@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;800&display=swap');
*{
  margin: 0;
  padding: 0;
  font-family: 'Montserrat';
}
body{
  background-color: rgb(41, 41, 41);
}
/*----------------------- for Header-------------------------- */
.header{
  height: 10vh;
}
.logo{
  color: gold;
  font-weight: bold;
  font-family: 'Montserrat';
  cursor: pointer;
  text-decoration: none;
}
.logo:hover{
  color: rgb(230, 196, 2);
}
.HdSelect{
  width: 6rem;
  border: none;
}
/* -----------------------Hero-------------------------------- */
.HeroImg{
  height: 50%;
  width: 100%;
  font-size:50px;
  margin-top: -10px; 
}
.Hero-text{
  position: absolute;
  color: white;
  font-family: 'Montserrat';
  top: 25%;
  left: 50%;  
  transform: translate(-50%, -50%);
  text-align: center;
}
.Hero-text h2{
  font-weight: bold;
  font-size: larger;
}
.Hero-text p{
  font-weight:100;
  font-size: small;
}
.cont{
 background-image: url(./images/banner.jpg);
 background-size:cover;
 background-repeat:no-repeat;
 height: 60vh;
}
.carousel{
  height: 50%;
  display: flex;
  align-items: center;
}
.carouselItems{
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  text-transform: uppercase;
  color: white;
}


