@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;800&display=swap');
*{
  margin: 0;
  padding: 0;
  background-color: rgb(41, 41, 41);
  font-family: 'Montserrat';
}
/*----------------------- for Header-------------------------- */
.header{
  height: 10vh;
  /* background-color: rgb(4, 4, 4); */
}
.logo{
  color: gold;
  font-weight: bold;
  font-family: 'Montserrat';
  cursor: pointer;
}
.HdSelect{
  width: 6rem;
}
/* -----------------------Hero-------------------------------- */
.HeroImg{
  background-image: url(./images/banner.jpg);
  height: 60vh;
  background-size:cover;
  font-size:50px;
  background-repeat:no-repeat;
  margin-top: -10px; 
  position: relative;
}
.Hero-text{
  position: absolute;
  color: white;
  background: transparent;
  font-family: 'Montserrat';
  top: 25%;
  left: 50%;  
  transform: translate(-50%, -50%);
  text-align: center;
}
.Hero-text h2{
  background: transparent;
  font-weight: bold;
  font-size: larger;
}
.Hero-text p{
  background: transparent;
  font-weight:100;
  font-size: small;
}
.carousel{
  position: absolute;
  bottom: 10%;
  left: 40%;
  color: aliceblue;
  
}